@layer utilities {
  .btn-primary {
    @apply bg-blue-300;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* color: ; */
  background: #0e1112;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0e1112;
}
