/* BASE */
@import 'tailwindcss/base';
@import './base/default.css';
@import './base/debug.css';

/* components */
@import 'tailwindcss/components';
@import './components/buttons.css';
@import './components/spinner.css';
@import './components/ngprogress.css';
@import './components/layout.css';
@import './components/typography.css';

/* utilities */
@import 'tailwindcss/utilities';
@import './utilities/scrollbar.css';
@import './utilities/error.css';
@import './utilities/animations.css';

:root {
  /* colors */
  --primary-color: rgba(147, 197, 253, 0.9);
  --black-color: rgba(0, 0, 0, 0.9);
  --grey-color: #484b4b;
  --white-color: #fff;
  --accent-color: #eef7f9;
  --error-color: #9a4141;

  /* screens */
  --sm-screen: 640px;
  --md-screen: 768px;
  --lg-screen: 1024px;
  --xl-screen: 1192px;

  /* Fonts */
  --primary-font: 'Playfair Display';
  --secondary-font: 'Mulish';
  --third-font: 'Bebas Neue', sans-serif;
}
